GROUP BY AND AGGREGATING

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r"C:\Users\Sufyaan ANS7\OneDrive\Documents\UG Branchwise Placement Stats 2024-25.xlsx", sheet_name = 'EEE')
df

,Name,Roll No.,Gender,CGPA,Company,Type of offer,Job profile,CTC(LPA),Date of Offer,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Sanyam Raj,21EEB0B55,M,9.26,Google,FTE,Software Engineer,53.28,22/07/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Abhishek Adik Nirmal,21EEB0B02,M,8.27,Amazon,FTE,SDE,47.88,22/11/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Yerraguntla Sai Rishik,21EEB0A69,M,7.90,Amazon,FTE,SDE,47.88,22/11/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abhay Tiwari,21EEB0A02,M,7.06,Amazon,FTE,SDE,47.88,22/11/2024,NaN,Eligible Pool,NaN,NaN,NaN,NaN,NaN,NaN
4,Bayavarapu Harsha Vardhan,21EEB0A13,M,8.46,ServiceNow,PPO,Associate Software Engineer,42.90,2024-08-07 00:00:00,NaN,120,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,Lakshya Rathore,21EEB0A36,M,4.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,Meda Dilip,21EEB0A70,M,3.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,Komati Nalin Chandra,21EEB0B31,M,3.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,Mogahid Elamin Ahmed Abushama,21EEB0F25,M,3.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,Badugu Jaswanth Kumar,21EEB0A11,M,2.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
items = ['Name','Roll No.','Gender','CGPA','Company','Type of offer','Job profile','CTC(LPA)']
df = df[items]
df

,Name,Roll No.,Gender,CGPA,Company,Type of offer,Job profile,CTC(LPA)
0,Sanyam Raj,21EEB0B55,M,9.26,Google,FTE,Software Engineer,53.28
1,Abhishek Adik Nirmal,21EEB0B02,M,8.27,Amazon,FTE,SDE,47.88
2,Yerraguntla Sai Rishik,21EEB0A69,M,7.90,Amazon,FTE,SDE,47.88
3,Abhay Tiwari,21EEB0A02,M,7.06,Amazon,FTE,SDE,47.88
4,Bayavarapu Harsha Vardhan,21EEB0A13,M,8.46,ServiceNow,PPO,Associate Software Engineer,42.90
...,...,...,...,...,...,...,...,...
137,Lakshya Rathore,21EEB0A36,M,4.50,NaN,NaN,NaN,NaN
138,Meda Dilip,21EEB0A70,M,3.76,NaN,NaN,NaN,NaN
139,Komati Nalin Chandra,21EEB0B31,M,3.52,NaN,NaN,NaN,NaN
140,Mogahid Elamin Ahmed Abushama,21EEB0F25,M,3.51,NaN,NaN,NaN,NaN
141,Badugu Jaswanth Kumar,21EEB0A11,M,2.17,NaN,NaN,NaN,NaN

In [16]:
new_items = ['CGPA','Company','CTC(LPA)']
df2 = df[new_items]
df2

     CGPA     Company  CTC(LPA)
0    9.26      Google     53.28
1    8.27      Amazon     47.88
2    7.90      Amazon     47.88
3    7.06      Amazon     47.88
4    8.46  ServiceNow     42.90
..    ...         ...       ...
137  4.50         NaN       NaN
138  3.76         NaN       NaN
139  3.52         NaN       NaN
140  3.51         NaN       NaN
141  2.17         NaN       NaN

[142 rows x 3 columns]

In [17]:
group_by = df2.groupby('Company')

In [18]:
group_by.mean()

                           CGPA  CTC(LPA)
Company
Accenture              8.120000     13.00
Accenture KAI          6.540000     10.82
Accordian              7.390000     10.00
Amazon                 7.743333     47.88
American Express       8.300000     19.15
Ather                  7.520000     12.00
Aveva                  8.260000     15.80
BEL                    7.560000     12.46
BPCL                   7.560000     20.10
Blaize                 7.225000     17.00
CloudAngles            7.560000     12.00
Collins                7.690000      8.75
Dataskate              7.633333      8.00
Datawrkz Electronics   6.330000      6.00
Deloitee               6.750000      8.10
Deutsche Bank          7.540000     21.20
Deutsche bank          8.490000     21.20
ExxonMobil             8.320000     13.38
GAIL                   7.766667     18.00
Genpact                6.480000     11.00
Goldman Sachs          6.650000     36.50
Google                 9.260000     53.28
Gracenote              7.295000     20.00
HCL Tech               6.920000     10.00
IBM                    8.870000     18.50
Increff                7.550000     20.00
Kratikal Tech          5.120000      9.00
Mastercard             8.137500     20.43
Mathworks              8.480000     25.92
Meesho                 7.465000     27.50
Micron                 8.650000     18.98
NPCI                   7.495000     16.00
NSE                    7.030000      8.00
Netradyne              7.630000     16.00
Nine Education         6.710000     11.00
Oracle                 8.535000     34.10
Orient Electric        7.990000      7.50
Profinch               6.520000      8.00
Publicis Sapient       7.240000     18.25
Quadrant Technologies  6.730000      6.00
Qualcomm               8.562500     31.00
Quantium               7.513333     13.74
RV Learning            5.380000      6.60
Raam Group             6.113333      6.00
Rapido                 7.905000     18.00
Resonance              7.450000      8.40
SAP Labs               7.692500     29.00
SRID                   8.650000     21.50
Sapiens                7.547500     14.25
ServiceNow             7.856667     42.90
Sigmoid Analytics      7.150000     10.00
Synopsys               8.190000     23.56
Wayspire               5.386667      7.00
Wells Fargo            9.020000     24.00
Zinnia                 7.070000     17.60
Zomato Hyperpure       6.570000     10.00

In [19]:
df2.groupby('Company').count()

                       CGPA  CTC(LPA)
Company
Accenture                 1         1
Accenture KAI             1         1
Accordian                 1         1
Amazon                    3         3
American Express          1         1
Ather                     1         1
Aveva                     3         3
BEL                       1         1
BPCL                      2         2
Blaize                    2         2
CloudAngles               2         2
Collins                   3         3
Dataskate                 3         3
Datawrkz Electronics      2         2
Deloitee                  2         2
Deutsche Bank             1         1
Deutsche bank             2         2
ExxonMobil                1         1
GAIL                      3         3
Genpact                   3         3
Goldman Sachs             1         1
Google                    1         1
Gracenote                 2         2
HCL Tech                  2         2
IBM                       1         1
Increff                   1         1
Kratikal Tech             1         1
Mastercard                4         4
Mathworks                 1         1
Meesho                    2         2
Micron                    1         1
NPCI                      2         2
NSE                       1         1
Netradyne                 4         4
Nine Education            1         1
Oracle                    2         2
Orient Electric           1         1
Profinch                  1         1
Publicis Sapient          1         1
Quadrant Technologies     1         1
Qualcomm                  4         4
Quantium                  3         3
RV Learning               2         2
Raam Group                3         3
Rapido                    2         2
Resonance                 1         1
SAP Labs                  4         4
SRID                      1         1
Sapiens                   4         4
ServiceNow                3         3
Sigmoid Analytics         2         2
Synopsys                  2         2
Wayspire                  6         6
Wells Fargo               4         4
Zinnia                    2         2
Zomato Hyperpure          1         1

In [20]:
df2.groupby('Company').min()

                       CGPA  CTC(LPA)
Company
Accenture              8.12     13.00
Accenture KAI          6.54     10.82
Accordian              7.39     10.00
Amazon                 7.06     47.88
American Express       8.30     19.15
Ather                  7.52     12.00
Aveva                  8.01     15.80
BEL                    7.56     12.46
BPCL                   7.20     20.10
Blaize                 7.15     17.00
CloudAngles            7.41     12.00
Collins                7.03      8.75
Dataskate              7.03      8.00
Datawrkz Electronics   5.35      6.00
Deloitee               6.57      8.10
Deutsche Bank          7.54     21.20
Deutsche bank          8.41     21.20
ExxonMobil             8.32     13.38
GAIL                   7.56     18.00
Genpact                6.13     11.00
Goldman Sachs          6.65     36.50
Google                 9.26     53.28
Gracenote              7.22     20.00
HCL Tech               6.10     10.00
IBM                    8.87     18.50
Increff                7.55     20.00
Kratikal Tech          5.12      9.00
Mastercard             7.61     20.43
Mathworks              8.48     25.92
Meesho                 7.27     21.00
Micron                 8.65     18.98
NPCI                   6.54     16.00
NSE                    7.03      8.00
Netradyne              7.17     16.00
Nine Education         6.71     11.00
Oracle                 7.79     34.10
Orient Electric        7.99      7.50
Profinch               6.52      8.00
Publicis Sapient       7.24     18.25
Quadrant Technologies  6.73      6.00
Qualcomm               8.18     31.00
Quantium               7.07     13.74
RV Learning            4.47      6.60
Raam Group             5.73      6.00
Rapido                 7.74     18.00
Resonance              7.45      8.40
SAP Labs               7.59     29.00
SRID                   8.65     21.50
Sapiens                6.63     14.25
ServiceNow             7.08     42.90
Sigmoid Analytics      7.14     10.00
Synopsys               7.32     23.56
Wayspire               4.99      7.00
Wells Fargo            8.63     24.00
Zinnia                 6.62     17.60
Zomato Hyperpure       6.57     10.00

In [22]:
df2.groupby('Company').max('CGPA')

                       CGPA  CTC(LPA)
Company
Accenture              8.12     13.00
Accenture KAI          6.54     10.82
Accordian              7.39     10.00
Amazon                 8.27     47.88
American Express       8.30     19.15
Ather                  7.52     12.00
Aveva                  8.63     15.80
BEL                    7.56     12.46
BPCL                   7.92     20.10
Blaize                 7.30     17.00
CloudAngles            7.71     12.00
Collins                8.18      8.75
Dataskate              8.52      8.00
Datawrkz Electronics   7.31      6.00
Deloitee               6.93      8.10
Deutsche Bank          7.54     21.20
Deutsche bank          8.57     21.20
ExxonMobil             8.32     13.38
GAIL                   8.16     18.00
Genpact                6.86     11.00
Goldman Sachs          6.65     36.50
Google                 9.26     53.28
Gracenote              7.37     20.00
HCL Tech               7.74     10.00
IBM                    8.87     18.50
Increff                7.55     20.00
Kratikal Tech          5.12      9.00
Mastercard             8.67     20.43
Mathworks              8.48     25.92
Meesho                 7.66     34.00
Micron                 8.65     18.98
NPCI                   8.45     16.00
NSE                    7.03      8.00
Netradyne              8.41     16.00
Nine Education         6.71     11.00
Oracle                 9.28     34.10
Orient Electric        7.99      7.50
Profinch               6.52      8.00
Publicis Sapient       7.24     18.25
Quadrant Technologies  6.73      6.00
Qualcomm               9.31     31.00
Quantium               8.27     13.74
RV Learning            6.29      6.60
Raam Group             6.40      6.00
Rapido                 8.07     18.00
Resonance              7.45      8.40
SAP Labs               7.89     29.00
SRID                   8.65     21.50
Sapiens                8.13     14.25
ServiceNow             8.46     42.90
Sigmoid Analytics      7.16     10.00
Synopsys               9.06     23.56
Wayspire               6.00      7.00
Wells Fargo            9.34     24.00
Zinnia                 7.52     17.60
Zomato Hyperpure       6.57     10.00

In [23]:
df2.groupby('Company').max('CTC(LPA)')

                       CGPA  CTC(LPA)
Company
Accenture              8.12     13.00
Accenture KAI          6.54     10.82
Accordian              7.39     10.00
Amazon                 8.27     47.88
American Express       8.30     19.15
Ather                  7.52     12.00
Aveva                  8.63     15.80
BEL                    7.56     12.46
BPCL                   7.92     20.10
Blaize                 7.30     17.00
CloudAngles            7.71     12.00
Collins                8.18      8.75
Dataskate              8.52      8.00
Datawrkz Electronics   7.31      6.00
Deloitee               6.93      8.10
Deutsche Bank          7.54     21.20
Deutsche bank          8.57     21.20
ExxonMobil             8.32     13.38
GAIL                   8.16     18.00
Genpact                6.86     11.00
Goldman Sachs          6.65     36.50
Google                 9.26     53.28
Gracenote              7.37     20.00
HCL Tech               7.74     10.00
IBM                    8.87     18.50
Increff                7.55     20.00
Kratikal Tech          5.12      9.00
Mastercard             8.67     20.43
Mathworks              8.48     25.92
Meesho                 7.66     34.00
Micron                 8.65     18.98
NPCI                   8.45     16.00
NSE                    7.03      8.00
Netradyne              8.41     16.00
Nine Education         6.71     11.00
Oracle                 9.28     34.10
Orient Electric        7.99      7.50
Profinch               6.52      8.00
Publicis Sapient       7.24     18.25
Quadrant Technologies  6.73      6.00
Qualcomm               9.31     31.00
Quantium               8.27     13.74
RV Learning            6.29      6.60
Raam Group             6.40      6.00
Rapido                 8.07     18.00
Resonance              7.45      8.40
SAP Labs               7.89     29.00
SRID                   8.65     21.50
Sapiens                8.13     14.25
ServiceNow             8.46     42.90
Sigmoid Analytics      7.16     10.00
Synopsys               9.06     23.56
Wayspire               6.00      7.00
Wells Fargo            9.34     24.00
Zinnia                 7.52     17.60
Zomato Hyperpure       6.57     10.00

In [24]:
df2.groupby('Company').sum()

                        CGPA  CTC(LPA)
Company
Accenture               8.12     13.00
Accenture KAI           6.54     10.82
Accordian               7.39     10.00
Amazon                 23.23    143.64
American Express        8.30     19.15
Ather                   7.52     12.00
Aveva                  24.78     47.40
BEL                     7.56     12.46
BPCL                   15.12     40.20
Blaize                 14.45     34.00
CloudAngles            15.12     24.00
Collins                23.07     26.25
Dataskate              22.90     24.00
Datawrkz Electronics   12.66     12.00
Deloitee               13.50     16.20
Deutsche Bank           7.54     21.20
Deutsche bank          16.98     42.40
ExxonMobil              8.32     13.38
GAIL                   23.30     54.00
Genpact                19.44     33.00
Goldman Sachs           6.65     36.50
Google                  9.26     53.28
Gracenote              14.59     40.00
HCL Tech               13.84     20.00
IBM                     8.87     18.50
Increff                 7.55     20.00
Kratikal Tech           5.12      9.00
Mastercard             32.55     81.72
Mathworks               8.48     25.92
Meesho                 14.93     55.00
Micron                  8.65     18.98
NPCI                   14.99     32.00
NSE                     7.03      8.00
Netradyne              30.52     64.00
Nine Education          6.71     11.00
Oracle                 17.07     68.20
Orient Electric         7.99      7.50
Profinch                6.52      8.00
Publicis Sapient        7.24     18.25
Quadrant Technologies   6.73      6.00
Qualcomm               34.25    124.00
Quantium               22.54     41.22
RV Learning            10.76     13.20
Raam Group             18.34     18.00
Rapido                 15.81     36.00
Resonance               7.45      8.40
SAP Labs               30.77    116.00
SRID                    8.65     21.50
Sapiens                30.19     57.00
ServiceNow             23.57    128.70
Sigmoid Analytics      14.30     20.00
Synopsys               16.38     47.12
Wayspire               32.32     42.00
Wells Fargo            36.08     96.00
Zinnia                 14.14     35.20
Zomato Hyperpure        6.57     10.00

In [27]:
df2.groupby('Company').agg({'CTC(LPA)' : ['mean', 'max','min', 'count', 'sum'], 'CGPA' : ['mean', 'max','min', 'count', 'sum']})

                      CTC(LPA)                                  CGPA        \
                          mean    max    min count     sum      mean   max
Company
Accenture                13.00  13.00  13.00     1   13.00  8.120000  8.12
Accenture KAI            10.82  10.82  10.82     1   10.82  6.540000  6.54
Accordian                10.00  10.00  10.00     1   10.00  7.390000  7.39
Amazon                   47.88  47.88  47.88     3  143.64  7.743333  8.27
American Express         19.15  19.15  19.15     1   19.15  8.300000  8.30
Ather                    12.00  12.00  12.00     1   12.00  7.520000  7.52
Aveva                    15.80  15.80  15.80     3   47.40  8.260000  8.63
BEL                      12.46  12.46  12.46     1   12.46  7.560000  7.56
BPCL                     20.10  20.10  20.10     2   40.20  7.560000  7.92
Blaize                   17.00  17.00  17.00     2   34.00  7.225000  7.30
CloudAngles              12.00  12.00  12.00     2   24.00  7.560000  7.71
Collins                   8.75   8.75   8.75     3   26.25  7.690000  8.18
Dataskate                 8.00   8.00   8.00     3   24.00  7.633333  8.52
Datawrkz Electronics      6.00   6.00   6.00     2   12.00  6.330000  7.31
Deloitee                  8.10   8.10   8.10     2   16.20  6.750000  6.93
Deutsche Bank            21.20  21.20  21.20     1   21.20  7.540000  7.54
Deutsche bank            21.20  21.20  21.20     2   42.40  8.490000  8.57
ExxonMobil               13.38  13.38  13.38     1   13.38  8.320000  8.32
GAIL                     18.00  18.00  18.00     3   54.00  7.766667  8.16
Genpact                  11.00  11.00  11.00     3   33.00  6.480000  6.86
Goldman Sachs            36.50  36.50  36.50     1   36.50  6.650000  6.65
Google                   53.28  53.28  53.28     1   53.28  9.260000  9.26
Gracenote                20.00  20.00  20.00     2   40.00  7.295000  7.37
HCL Tech                 10.00  10.00  10.00     2   20.00  6.920000  7.74
IBM                      18.50  18.50  18.50     1   18.50  8.870000  8.87
Increff                  20.00  20.00  20.00     1   20.00  7.550000  7.55
Kratikal Tech             9.00   9.00   9.00     1    9.00  5.120000  5.12
Mastercard               20.43  20.43  20.43     4   81.72  8.137500  8.67
Mathworks                25.92  25.92  25.92     1   25.92  8.480000  8.48
Meesho                   27.50  34.00  21.00     2   55.00  7.465000  7.66
Micron                   18.98  18.98  18.98     1   18.98  8.650000  8.65
NPCI                     16.00  16.00  16.00     2   32.00  7.495000  8.45
NSE                       8.00   8.00   8.00     1    8.00  7.030000  7.03
Netradyne                16.00  16.00  16.00     4   64.00  7.630000  8.41
Nine Education           11.00  11.00  11.00     1   11.00  6.710000  6.71
Oracle                   34.10  34.10  34.10     2   68.20  8.535000  9.28
Orient Electric           7.50   7.50   7.50     1    7.50  7.990000  7.99
Profinch                  8.00   8.00   8.00     1    8.00  6.520000  6.52
Publicis Sapient         18.25  18.25  18.25     1   18.25  7.240000  7.24
Quadrant Technologies     6.00   6.00   6.00     1    6.00  6.730000  6.73
Qualcomm                 31.00  31.00  31.00     4  124.00  8.562500  9.31
Quantium                 13.74  13.74  13.74     3   41.22  7.513333  8.27
RV Learning               6.60   6.60   6.60     2   13.20  5.380000  6.29
Raam Group                6.00   6.00   6.00     3   18.00  6.113333  6.40
Rapido                   18.00  18.00  18.00     2   36.00  7.905000  8.07
Resonance                 8.40   8.40   8.40     1    8.40  7.450000  7.45
SAP Labs                 29.00  29.00  29.00     4  116.00  7.692500  7.89
SRID                     21.50  21.50  21.50     1   21.50  8.650000  8.65
Sapiens                  14.25  14.25  14.25     4   57.00  7.547500  8.13
ServiceNow               42.90  42.90  42.90     3  128.70  7.856667  8.46
Sigmoid Analytics        10.00  10.00  10.00     2   20.00  7.150000  7.16
Synopsys                 23.56  23.56  23.56     2   47.12  8.190000  9.06
Wayspire                  7.00   7.00   7.00     6   42.00  5.386667  6.00
Wells Fargo              24.00  24.00  24.00     4   96.00  9.020000  9.34
Zinnia                   17.60  17.60  17.60     2   35.20  7.070000  7.52
Zomato Hyperpure         10.00  10.00  10.00     1   10.00  6.570000  6.57


                        min count    sum
Company
Accenture              8.12     1   8.12
Accenture KAI          6.54     1   6.54
Accordian              7.39     1   7.39
Amazon                 7.06     3  23.23
American Express       8.30     1   8.30
Ather                  7.52     1   7.52
Aveva                  8.01     3  24.78
BEL                    7.56     1   7.56
BPCL                   7.20     2  15.12
Blaize                 7.15     2  14.45
CloudAngles            7.41     2  15.12
Collins                7.03     3  23.07
Dataskate              7.03     3  22.90
Datawrkz Electronics   5.35     2  12.66
Deloitee               6.57     2  13.50
Deutsche Bank          7.54     1   7.54
Deutsche bank          8.41     2  16.98
ExxonMobil             8.32     1   8.32
GAIL                   7.56     3  23.30
Genpact                6.13     3  19.44
Goldman Sachs          6.65     1   6.65
Google                 9.26     1   9.26
Gracenote              7.22     2  14.59
HCL Tech               6.10     2  13.84
IBM                    8.87     1   8.87
Increff                7.55     1   7.55
Kratikal Tech          5.12     1   5.12
Mastercard             7.61     4  32.55
Mathworks              8.48     1   8.48
Meesho                 7.27     2  14.93
Micron                 8.65     1   8.65
NPCI                   6.54     2  14.99
NSE                    7.03     1   7.03
Netradyne              7.17     4  30.52
Nine Education         6.71     1   6.71
Oracle                 7.79     2  17.07
Orient Electric        7.99     1   7.99
Profinch               6.52     1   6.52
Publicis Sapient       7.24     1   7.24
Quadrant Technologies  6.73     1   6.73
Qualcomm               8.18     4  34.25
Quantium               7.07     3  22.54
RV Learning            4.47     2  10.76
Raam Group             5.73     3  18.34
Rapido                 7.74     2  15.81
Resonance              7.45     1   7.45
SAP Labs               7.59     4  30.77
SRID                   8.65     1   8.65
Sapiens                6.63     4  30.19
ServiceNow             7.08     3  23.57
Sigmoid Analytics      7.14     2  14.30
Synopsys               7.32     2  16.38
Wayspire               4.99     6  32.32
Wells Fargo            8.63     4  36.08
Zinnia                 6.62     2  14.14
Zomato Hyperpure       6.57     1   6.57

In [28]:
df

,Name,Roll No.,Gender,CGPA,Company,Type of offer,Job profile,CTC(LPA)
0,Sanyam Raj,21EEB0B55,M,9.26,Google,FTE,Software Engineer,53.28
1,Abhishek Adik Nirmal,21EEB0B02,M,8.27,Amazon,FTE,SDE,47.88
2,Yerraguntla Sai Rishik,21EEB0A69,M,7.90,Amazon,FTE,SDE,47.88
3,Abhay Tiwari,21EEB0A02,M,7.06,Amazon,FTE,SDE,47.88
4,Bayavarapu Harsha Vardhan,21EEB0A13,M,8.46,ServiceNow,PPO,Associate Software Engineer,42.90
...,...,...,...,...,...,...,...,...
137,Lakshya Rathore,21EEB0A36,M,4.50,NaN,NaN,NaN,NaN
138,Meda Dilip,21EEB0A70,M,3.76,NaN,NaN,NaN,NaN
139,Komati Nalin Chandra,21EEB0B31,M,3.52,NaN,NaN,NaN,NaN
140,Mogahid Elamin Ahmed Abushama,21EEB0F25,M,3.51,NaN,NaN,NaN,NaN
141,Badugu Jaswanth Kumar,21EEB0A11,M,2.17,NaN,NaN,NaN,NaN

In [31]:
df2.groupby('Company').describe()

                       CGPA                                                   \
                      count      mean       std   min     25%    50%     75%
Company
Accenture               1.0  8.120000       NaN  8.12  8.1200  8.120  8.1200
Accenture KAI           1.0  6.540000       NaN  6.54  6.5400  6.540  6.5400
Accordian               1.0  7.390000       NaN  7.39  7.3900  7.390  7.3900
Amazon                  3.0  7.743333  0.620027  7.06  7.4800  7.900  8.0850
American Express        1.0  8.300000       NaN  8.30  8.3000  8.300  8.3000
Ather                   1.0  7.520000       NaN  7.52  7.5200  7.520  7.5200
Aveva                   3.0  8.260000  0.326956  8.01  8.0750  8.140  8.3850
BEL                     1.0  7.560000       NaN  7.56  7.5600  7.560  7.5600
BPCL                    2.0  7.560000  0.509117  7.20  7.3800  7.560  7.7400
Blaize                  2.0  7.225000  0.106066  7.15  7.1875  7.225  7.2625
CloudAngles             2.0  7.560000  0.212132  7.41  7.4850  7.560  7.6350
Collins                 3.0  7.690000  0.593549  7.03  7.4450  7.860  8.0200
Dataskate               3.0  7.633333  0.784368  7.03  7.1900  7.350  7.9350
Datawrkz Electronics    2.0  6.330000  1.385929  5.35  5.8400  6.330  6.8200
Deloitee                2.0  6.750000  0.254558  6.57  6.6600  6.750  6.8400
Deutsche Bank           1.0  7.540000       NaN  7.54  7.5400  7.540  7.5400
Deutsche bank           2.0  8.490000  0.113137  8.41  8.4500  8.490  8.5300
ExxonMobil              1.0  8.320000       NaN  8.32  8.3200  8.320  8.3200
GAIL                    3.0  7.766667  0.340783  7.56  7.5700  7.580  7.8700
Genpact                 3.0  6.480000  0.365923  6.13  6.2900  6.450  6.6550
Goldman Sachs           1.0  6.650000       NaN  6.65  6.6500  6.650  6.6500
Google                  1.0  9.260000       NaN  9.26  9.2600  9.260  9.2600
Gracenote               2.0  7.295000  0.106066  7.22  7.2575  7.295  7.3325
HCL Tech                2.0  6.920000  1.159655  6.10  6.5100  6.920  7.3300
IBM                     1.0  8.870000       NaN  8.87  8.8700  8.870  8.8700
Increff                 1.0  7.550000       NaN  7.55  7.5500  7.550  7.5500
Kratikal Tech           1.0  5.120000       NaN  5.12  5.1200  5.120  5.1200
Mastercard              4.0  8.137500  0.473383  7.61  7.8275  8.135  8.4450
Mathworks               1.0  8.480000       NaN  8.48  8.4800  8.480  8.4800
Meesho                  2.0  7.465000  0.275772  7.27  7.3675  7.465  7.5625
Micron                  1.0  8.650000       NaN  8.65  8.6500  8.650  8.6500
NPCI                    2.0  7.495000  1.350574  6.54  7.0175  7.495  7.9725
NSE                     1.0  7.030000       NaN  7.03  7.0300  7.030  7.0300
Netradyne               4.0  7.630000  0.547723  7.17  7.3050  7.470  7.7950
Nine Education          1.0  6.710000       NaN  6.71  6.7100  6.710  6.7100
Oracle                  2.0  8.535000  1.053589  7.79  8.1625  8.535  8.9075
Orient Electric         1.0  7.990000       NaN  7.99  7.9900  7.990  7.9900
Profinch                1.0  6.520000       NaN  6.52  6.5200  6.520  6.5200
Publicis Sapient        1.0  7.240000       NaN  7.24  7.2400  7.240  7.2400
Quadrant Technologies   1.0  6.730000       NaN  6.73  6.7300  6.730  6.7300
Qualcomm                4.0  8.562500  0.507239  8.18  8.3225  8.380  8.6200
Quantium                3.0  7.513333  0.658508  7.07  7.1350  7.200  7.7350
RV Learning             2.0  5.380000  1.286934  4.47  4.9250  5.380  5.8350
Raam Group              3.0  6.113333  0.345302  5.73  5.9700  6.210  6.3050
Rapido                  2.0  7.905000  0.233345  7.74  7.8225  7.905  7.9875
Resonance               1.0  7.450000       NaN  7.45  7.4500  7.450  7.4500
SAP Labs                4.0  7.692500  0.135739  7.59  7.6125  7.645  7.7250
SRID                    1.0  8.650000       NaN  8.65  8.6500  8.650  8.6500
Sapiens                 4.0  7.547500  0.722328  6.63  7.1400  7.715  8.1225
ServiceNow              3.0  7.856667  0.706140  7.08  7.5550  8.030  8.2450
Sigmoid Analytics       2.0  7.150000  0.014142  7.14  7.1450  7.150  7.1550
Synopsys                2.0  8.190000  1.230366  7.32  7.7550  8.190  8.6250
Wayspire                6.0  5.386667  0.384326  4.99  5.0925  5.355  5.5500
Wells Fargo             4.0  9.020000  0.345543  8.63  8.7800  9.055  9.2950
Zinnia                  2.0  7.070000  0.636396  6.62  6.8450  7.070  7.2950
Zomato Hyperpure        1.0  6.570000       NaN  6.57  6.5700  6.570  6.5700

                            CTC(LPA)                                     \
                        max    count   mean           std    min    25%
Company
Accenture              8.12      1.0  13.00           NaN  13.00  13.00
Accenture KAI          6.54      1.0  10.82           NaN  10.82  10.82
Accordian              7.39      1.0  10.00           NaN  10.00  10.00
Amazon                 8.27      3.0  47.88  0.000000e+00  47.88  47.88
American Express       8.30      1.0  19.15           NaN  19.15  19.15
Ather                  7.52      1.0  12.00           NaN  12.00  12.00
Aveva                  8.63      3.0  15.80  2.175584e-15  15.80  15.80
BEL                    7.56      1.0  12.46           NaN  12.46  12.46
BPCL                   7.92      2.0  20.10  0.000000e+00  20.10  20.10
Blaize                 7.30      2.0  17.00  0.000000e+00  17.00  17.00
CloudAngles            7.71      2.0  12.00  0.000000e+00  12.00  12.00
Collins                8.18      3.0   8.75  0.000000e+00   8.75   8.75
Dataskate              8.52      3.0   8.00  0.000000e+00   8.00   8.00
Datawrkz Electronics   7.31      2.0   6.00  0.000000e+00   6.00   6.00
Deloitee               6.93      2.0   8.10  0.000000e+00   8.10   8.10
Deutsche Bank          7.54      1.0  21.20           NaN  21.20  21.20
Deutsche bank          8.57      2.0  21.20  0.000000e+00  21.20  21.20
ExxonMobil             8.32      1.0  13.38           NaN  13.38  13.38
GAIL                   8.16      3.0  18.00  0.000000e+00  18.00  18.00
Genpact                6.86      3.0  11.00  0.000000e+00  11.00  11.00
Goldman Sachs          6.65      1.0  36.50           NaN  36.50  36.50
Google                 9.26      1.0  53.28           NaN  53.28  53.28
Gracenote              7.37      2.0  20.00  0.000000e+00  20.00  20.00
HCL Tech               7.74      2.0  10.00  0.000000e+00  10.00  10.00
IBM                    8.87      1.0  18.50           NaN  18.50  18.50
Increff                7.55      1.0  20.00           NaN  20.00  20.00
Kratikal Tech          5.12      1.0   9.00           NaN   9.00   9.00
Mastercard             8.67      4.0  20.43  0.000000e+00  20.43  20.43
Mathworks              8.48      1.0  25.92           NaN  25.92  25.92
Meesho                 7.66      2.0  27.50  9.192388e+00  21.00  24.25
Micron                 8.65      1.0  18.98           NaN  18.98  18.98
NPCI                   8.45      2.0  16.00  0.000000e+00  16.00  16.00
NSE                    7.03      1.0   8.00           NaN   8.00   8.00
Netradyne              8.41      4.0  16.00  0.000000e+00  16.00  16.00
Nine Education         6.71      1.0  11.00           NaN  11.00  11.00
Oracle                 9.28      2.0  34.10  0.000000e+00  34.10  34.10
Orient Electric        7.99      1.0   7.50           NaN   7.50   7.50
Profinch               6.52      1.0   8.00           NaN   8.00   8.00
Publicis Sapient       7.24      1.0  18.25           NaN  18.25  18.25
Quadrant Technologies  6.73      1.0   6.00           NaN   6.00   6.00
Qualcomm               9.31      4.0  31.00  0.000000e+00  31.00  31.00
Quantium               8.27      3.0  13.74  0.000000e+00  13.74  13.74
RV Learning            6.29      2.0   6.60  0.000000e+00   6.60   6.60
Raam Group             6.40      3.0   6.00  0.000000e+00   6.00   6.00
Rapido                 8.07      2.0  18.00  0.000000e+00  18.00  18.00
Resonance              7.45      1.0   8.40           NaN   8.40   8.40
SAP Labs               7.89      4.0  29.00  0.000000e+00  29.00  29.00
SRID                   8.65      1.0  21.50           NaN  21.50  21.50
Sapiens                8.13      4.0  14.25  0.000000e+00  14.25  14.25
ServiceNow             8.46      3.0  42.90  0.000000e+00  42.90  42.90
Sigmoid Analytics      7.16      2.0  10.00  0.000000e+00  10.00  10.00
Synopsys               9.06      2.0  23.56  0.000000e+00  23.56  23.56
Wayspire               6.00      6.0   7.00  0.000000e+00   7.00   7.00
Wells Fargo            9.34      4.0  24.00  0.000000e+00  24.00  24.00
Zinnia                 7.52      2.0  17.60  0.000000e+00  17.60  17.60
Zomato Hyperpure       6.57      1.0  10.00           NaN  10.00  10.00


                         50%    75%    max
Company
Accenture              13.00  13.00  13.00
Accenture KAI          10.82  10.82  10.82
Accordian              10.00  10.00  10.00
Amazon                 47.88  47.88  47.88
American Express       19.15  19.15  19.15
Ather                  12.00  12.00  12.00
Aveva                  15.80  15.80  15.80
BEL                    12.46  12.46  12.46
BPCL                   20.10  20.10  20.10
Blaize                 17.00  17.00  17.00
CloudAngles            12.00  12.00  12.00
Collins                 8.75   8.75   8.75
Dataskate               8.00   8.00   8.00
Datawrkz Electronics    6.00   6.00   6.00
Deloitee                8.10   8.10   8.10
Deutsche Bank          21.20  21.20  21.20
Deutsche bank          21.20  21.20  21.20
ExxonMobil             13.38  13.38  13.38
GAIL                   18.00  18.00  18.00
Genpact                11.00  11.00  11.00
Goldman Sachs          36.50  36.50  36.50
Google                 53.28  53.28  53.28
Gracenote              20.00  20.00  20.00
HCL Tech               10.00  10.00  10.00
IBM                    18.50  18.50  18.50
Increff                20.00  20.00  20.00
Kratikal Tech           9.00   9.00   9.00
Mastercard             20.43  20.43  20.43
Mathworks              25.92  25.92  25.92
Meesho                 27.50  30.75  34.00
Micron                 18.98  18.98  18.98
NPCI                   16.00  16.00  16.00
NSE                     8.00   8.00   8.00
Netradyne              16.00  16.00  16.00
Nine Education         11.00  11.00  11.00
Oracle                 34.10  34.10  34.10
Orient Electric         7.50   7.50   7.50
Profinch                8.00   8.00   8.00
Publicis Sapient       18.25  18.25  18.25
Quadrant Technologies   6.00   6.00   6.00
Qualcomm               31.00  31.00  31.00
Quantium               13.74  13.74  13.74
RV Learning             6.60   6.60   6.60
Raam Group              6.00   6.00   6.00
Rapido                 18.00  18.00  18.00
Resonance               8.40   8.40   8.40
SAP Labs               29.00  29.00  29.00
SRID                   21.50  21.50  21.50
Sapiens                14.25  14.25  14.25
ServiceNow             42.90  42.90  42.90
Sigmoid Analytics      10.00  10.00  10.00
Synopsys               23.56  23.56  23.56
Wayspire                7.00   7.00   7.00
Wells Fargo            24.00  24.00  24.00
Zinnia                 17.60  17.60  17.60
Zomato Hyperpure       10.00  10.00  10.00